@font-face {
    font-family: 'National';
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Book.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Book.eot?#iefix') format('embedded-opentype'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Book.woff2') format('woff2'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Book.woff') format('woff');
}

@font-face {
    font-family: 'National';
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-BookItalic.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-BookItalic.woff2') format('woff2'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-BookItalic.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'National';
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Semibold.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Semibold.eot?#iefix') format('embedded-opentype'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Semibold.woff2') format('woff2'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-Semibold.woff') format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'National';
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-SemiboldItalic.eot');
    src: url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-SemiboldItalic.woff2') format('woff2'),
        url('https://s3-eu-west-1.amazonaws.com/web1live.static-assets/NationalWeb-SemiboldItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

/*================ Font variables ================*/
$base-font-stack: 'National', Arial, 'Helvetica Neue', Helvetica, sans-serif;
