/*================ Flexbox grid ================*/
.noflex-container, .flex-container {
    display: block;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 $base-spacing-unit-small;
    @include breakpoint(medium) {
        padding: 0;
    }
    .noflex-container, .flex-container {
        padding: 0;
    }
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}

// Vertically center
.flex-container__vertical-center > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

// Halves
.flex-container--half {
    width: 100%;
    @include breakpoint(medium) {
        width: 50%;
    }
}

// Thirds
.flex-container--one-third {
    width: 100%;
    @include breakpoint(medium) {
        width: 33.3%;
    }
}

.flex-container--two-thirds {
    width: 100%;
    @include breakpoint(medium) {
        width: 66.6%;
    }
}

// Quarters
.flex-container--one-quarter {
    width: 100%;
    @include breakpoint(medium) {
        width: 25%;
    }
}

.flex-container--three-quarters {
    width: 100%;
    @include breakpoint(medium) {
        width: 75%;
    }
}
