/*================ General layout styles ================*/
body,
html {
  background-color: $alabaster;
}

.shopify-section {
    width: 100%;
}

.sticky-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.sticky-footer-content {
    flex: 1 1 auto;
    height: 100%;
}

.page .rte {
    @include breakpoint(medium) {
        max-width: 720px;
    }
}
