.rte__table-wrapper table {
  width: 100%;
  margin-top: 0;
  background: $grey-4;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  @include media($small) {
    table-layout: initial;
  }
  th, td {
    padding: $base-spacing-unit-tiny;
  }
  td {
    word-wrap: break-word;
  }
  thead {
    th {
      background: $grey-1;
      color: $white;
      &:nth-child(even) {
        border-left: 1px solid $grey-5;
        border-right: 1px solid $grey-5;
      }
    }
  }
  thead th, tfoot td {
    text-align: left;
  }
  tbody tr:nth-child(even) {
    background: $grey-3;
  }
  tbody tr td:nth-child(even) {
    border-left: 1px solid $grey-5;
    border-right: 1px solid $grey-5;
  }
  caption {
    margin-top: 0;
    text-align: left;
  }
}
