body {
    font-family: $base-font-stack;
    color: $tundora;
    font-size: 16px;
    line-height: 1.5;
    // font-smoothing - anti aliasing
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-feature-settings - vertically aligned typeface
    // https://developer.mozilla.org/en/docs/Web/CSS/font-feature-settings
    font-feature-settings: 'pnum';
    // Experimental text decoration declaration (webkit only)
    // https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-skip
    -webkit-text-decoration-skip: ink;
}

.shop-heading {
    font-weight: 400;
    margin: $base-spacing-unit-medium 0;
    color: $tundora;
    @include breakpoint(medium) {
        margin: $base-spacing-unit-extra-large 0;
    }
}

.shop-heading__no-margin {
    margin: 0;
}

// Base Heading Settings
h1, .h1, h2, h3, h4, h5, h6 {
    margin: $base-spacing-unit-medium 0 $base-spacing-unit;
    padding: 0;
    color: $martinique;
    font-weight: 700;
    @include breakpoint(medium) {
        margin: $base-spacing-unit-large 0 $base-spacing-unit;
    }
}

h1, .h1 {
    font-size: 32px;
    line-height: 1.125; // 36px;
    margin: 0 0 $base-spacing-unit-tiny;
    @include breakpoint(medium) {
        font-size: 36px;
        line-height: 1.167;
        margin: 0 0 $base-spacing-unit-small;
    }
}

h2 {
    font-size: 28px;
    line-height: 1.286; // 36px;
    margin: $base-spacing-unit-extra-large 0 $base-spacing-unit-tiny;
    @include breakpoint(medium) {
        font-size: 32px;
        line-height: 1.125; // 36px
        margin: $base-spacing-unit-extra-extra-large 0 $base-spacing-unit-small;
    }
}

h3 {
    font-size: 24px;
    line-height: 1.250; // 30px;
    @include breakpoint(medium) {
        font-size: 26px;
        line-height: 1.154; // 30px
    }
}

h4 {
    font-size: 21px;
    line-height: 1.143; // 24px;
    @include breakpoint(medium) {
        font-size: 22px;
        line-height: 1.364; // 30px
    }
}

h5 {
    font-size: 18px;
    line-height: 1.334; // 24px;
    @include breakpoint(medium) {
       font-size: 20px;
       line-height: 1.2; // 24px
    }
}

h6 {
    font-size: 16px;
    line-height: 1.5; // 24px;
    @include breakpoint(medium) {
        font-size: 18px;
        line-height: 1.334; // 24px;
    }
}

.site-header {
    h1, .h1 {
        margin-bottom: 0;
        a {
            color: $martinique;
            text-decoration: none;
        }
    }
    .flex-container--one-third {
        text-align: right;
    }
    .site-header__cart {
        color: $tundora;
        text-decoration: none;
    }
    .site-header__search button[type=submit] {
        color: $white;
    }
}

.site-navigation {
    .site-navigation__list li a {
        color: $tundora;
        text-decoration: none;
    }
    .site-navigation--active {
        font-weight: 700;
    }
}

.site-footer {
    color: $ebb;
    a {
        color: $ebb;
    }
    .site-footer__address {
        font-style: normal;
    }
    .site-footer__telephone {
        text-decoration: none;
    }
}

.tile--heading {
    font-weight: 700;
    color: $martinique;
}

.tile--full-width .tile--heading {
    @include breakpoint(medium) {
        font-size: 26px;
        line-height: 1.154; // 30px
    }
}

.tile--half-width, .tile--one-third {
    .tile--heading {
        color: $white;
    }
}

.product-grid {
    .product-grid__title {
        color: $stTropaz;
        text-decoration: underline;
        font-weight: 700;
    }
    .product-grid__title:hover {
        color: $stTropazHover;
    }
}

.product__price--current {
    font-size: 32px;
    color: $martinique;
    font-weight: 700;
}

.product__price--old {
    font-size: 24px;
    text-decoration: line-through;
    font-weight: 700;
    color: $martinique;
}

.product__image-container--featured {
    text-align: center;
}

.cart--table {
    thead th {
        text-align: left;
        font-weight: 400;
    }
    thead th:first-of-type {
        text-align: center;
    }
    .product--name {
        color: $stTropaz;
        font-weight: 700;
    }
    .product--name:hover {
        color: $stTropazHover;
    }
    .product--price {
        font-weight: 700;
    }
}

.cart--meta {
    .cart--total {
        @include breakpoint(medium) {
            text-align: right;
        }
        .cart--total__shipping {
            font-size: 14px;
            color: $doveGray;
            line-height: 1;
        }
        .cart--total--back {
            color: $tundora;
        }
    }
}

p a {
    color: $stTropaz;
    font-weight: 700;
}

p a:hover {
    color: $stTropazHover;
}

p a:focus {
    background: $algaeGreen;
    outline: 3px solid $algaeGreen;
}
