.breadcrumbs {
    // width: 100%;
    // display: flex;
    // flex-wrap: wrap;
    padding-top: $base-spacing-unit-tiny;
    padding-bottom: $base-spacing-unit-tiny;
    @include breakpoint(medium) {
        padding-top: $base-spacing-unit-large;
        padding-bottom: $base-spacing-unit-tiny;
    }
    a {
        color: $tundora;
    }
    span[aria-hidden] {
        margin: 0 $base-spacing-unit-tiny;
    }
}
