.button {
    @include prefix('user-select', 'none', moz ms webkit spec);
    @include prefix(appearance, none, webkit moz spec);
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
    padding: $base-spacing-unit $base-spacing-unit-tiny;
    cursor: pointer;

    // button colours
    border: 1px solid $stTropaz;
    background: $stTropaz;
    color: $white;

    .icon ~ span {
        line-height: 1;
        vertical-align: middle;
        display: inline-block;
        margin-left: $base-spacing-unit;
    }
}

.button--small {
    padding: ($base-spacing-unit / 2) $base-spacing-unit-tiny;
    font-size: 14px;
}

.button:hover {
    background: $stTropazButtonHover;
    border-color: $stTropazButtonHover;
}

.button--secondary {
    background: $periwinkle;
    border-color: $periwinkle;
    color: $martinique;
}

.button--secondary:hover {
    background: $periwinkleHover;
    border-color: $periwinkleHover;
}

.button--grey {
    background: $frenchGray;
    border-color: $frenchGray;
    color: $tundora;
}

.button--grey:hover {
    background: $frenchGray;
    border-color: $frenchGray;
    color: $tundora;
    opacity: 0.8;
}

.button[disabled] {
    background: $ebb;
    border-color: $ebb;
    color: $frenchGray;
}
