.button {
  @include prefix('user-select', 'none', moz ms webkit spec);
  @include prefix(appearance, none, webkit moz spec);
  display: inline-block;
  width: auto;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
  padding: $base-spacing-unit $base-spacing-unit-tiny;
  cursor: pointer;

  // button colours
  border: 1px solid $link;
  background: $link;
  color: $white;

  .icon ~ span {
    line-height: 1;
    vertical-align: middle;
    display: inline-block;
    margin-left: $base-spacing-unit;
  }
}

.button--small {
  padding: ($base-spacing-unit / 2) $base-spacing-unit-tiny;
  @include fontsize(14);
}

.button:hover, .button:focus {
  background: $button--primary__hover;
  border-color: $button--primary__hover;
}

.button--secondary {
  background: $button--secondary;
  border-color: $button--secondary;
  color: $deep-purple;
}

.button--secondary:hover, .button--secondary:focus {
  background: $button--secondary__hover;
  border-color: $button--secondary__hover;
}

.button--grey {
  background: $grey-3;
  border-color: $grey-3;
  color: $grey-1;
}

.button--grey:hover, .button--grey:focus {
  background: $grey-3;
  border-color: $grey-3;
  color: $grey-1;
  opacity: 0.8;
}

.button--mint {
  background: $mint;
  border-color: $mint;
  color: $deep-purple;
  &:hover, &:focus {
    background: $mint--dark;
    border-color: $mint--dark;
  }
}

.button[disabled] {
  background: $grey-4;
  border-color: $grey-4;
  color: $grey-3;
}
