.cart__table {
  border-bottom: 1px solid $grey-3;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: $base-spacing-unit-medium;
  @include media($small) {
    border-top: 1px solid $grey-3;
  }
  thead {
    display: none;
    @include media($small) {
      display: table-header-group;
    }
    border-bottom: 1px solid $grey-3;
  }
  th, td {
    padding: $base-spacing-unit-tiny 0;
    text-align: right;
    font-weight: 400;
    @include media($small) {
      padding: $base-spacing-unit-medium;
      text-align: left;
    }
    &:before {
      content: attr(data-label);
      float: left;
      @include media($small) {
        display: none;
      }
    }
  }
  tbody {
    display: flex;
    flex-direction: column;
    @include media($small) {
      display: table-row-group;
    }
    tr {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $grey-3;
      margin-bottom: $base-spacing-unit-tiny;
      padding-bottom: $base-spacing-unit-tiny;
      @include media($small) {
        display: table-row;
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
  tr {
    td {
      &:first-child {
        padding-left: 0;
      }
      &:nth-child(2) {
        text-align: left;
      }
    }
  }
  .product--name {
    margin-bottom: $base-spacing-unit-tiny;
    color: $link;
    font-weight: 700;
    display: block;
    &:hover {
      color: $link-hover;
    }
  }
  input[type=number] {
    background: $white;
    border: 1px solid $grey-3;
    border-radius: 4px;
    padding: $base-spacing-unit $base-spacing-unit-tiny;
    width: $base-spacing-unit * 10;
    text-align: right;
    @include media($medium) {
      text-align: left;
    }
  }
}

.cart--meta {
  input[type=submit]:first-of-type {
    margin-bottom: 12px;
  }
  .cart--notes {
    .cart--notes--form {
      padding: $base-spacing-unit-tiny;
      @include media($small) {
        padding: $base-spacing-unit-small;
      }
      background: $grey-4;
      label {
        display: block;
        margin-bottom: $base-spacing-unit;
      }
      textarea {
        display: block;
        width: 100%;
        border: 1px solid $grey-3;
        border-radius: 4px;
        padding: $base-spacing-unit;
      }
    }
  }
  .cart--total {
    @include media($small) {
      text-align: right;
    }
    p:first-child {
      margin-top: 0;
    }
    .cart--total__shipping {
      margin-bottom: $base-spacing-unit-medium;
      @include fontsize(16);
      color: $grey-2;
      line-height: 1;
    }
    .cart--total--back {
      margin-top: $base-spacing-unit-medium;
      display: block;
      color: $grey-1;
      &:hover, &:focus {
        color: $link-hover;
      }
    }
  }
}
