.microsite-masthead {
  background: $deep-purple;
  padding: $base-spacing-unit 0;
  @include fontsize(14);
  a {
    color: $grey-5;
    text-decoration: underline;
    &:hover, &:focus {
      color: $grey-3;
    }
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  .microsite-masthead__back {
    font-weight: 500;
    text-decoration: none;
    .icon {
      height: 10px;
      width: 7.5px;
      margin-right: $base-spacing-unit;
    }
    span {
      text-decoration: underline;
    }
  }
  .microsite-masthead__links {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    @include media($small) {
      display: block;
    }
    li {
      display: inline-block;
      margin-left: $base-spacing-unit-small;
    }
  }
}
