.microsite-masthead {
  background: $martinique;
  padding: $base-spacing-unit 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .microsite-masthead__back .icon {
    height: 10px;
    width: 7.5px;
    margin-right: $base-spacing-unit;
  }
  .microsite-masthead__links {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    @include breakpoint(small) {
      display: block;
    }
    li {
      display: inline-block;
      margin-left: $base-spacing-unit-small;
    }
  }
}
