.offers-bar {
    display: none;
    @include breakpoint(medium) {
        display: block;
    }
    .grid {
        margin-top: $base-spacing-unit-large;
    }
    .grid-cell {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        padding-top: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;
        padding-right: $base-spacing-unit-small;
        border-right: 2px solid $frenchGray;
        &:last-of-type {
            border-right: 0;
        }
        p {
            margin: 0;
        }
    }
    .offers-bar__icon {
        padding-right: $base-spacing-unit-tiny;
        img {
            display: block;
        }
    }
}
