.pagination {
    margin: $base-spacing-unit-medium 0 $base-spacing-unit-extra-extra-large;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    .prev, .next {
        flex: 1 1 auto;
    }
    span, a {
        min-width: $base-spacing-unit-medium;
        display: block;
    }
}
