.product__image-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.product__image-container--featured {
    background: $white;
    border: 1px solid $frenchGray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base-spacing-unit-tiny;
    @include breakpoint(medium) {
        width: 90%;
    }
}

.product__image--extras {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 90%;
    li {
        margin: $base-spacing-unit-tiny $base-spacing-unit-tiny 0 0;
        border: 1px solid $frenchGray;
        background: $white;
        max-width: 32.3%;
        a {
            display: block;
        }
    }
}

.product {
    margin-bottom: $base-spacing-unit-extra-extra-large;
    label {
        display: block;
    }
    input[type=number] {
        background: $white;
        border: 1px solid $frenchGray;
        border-radius: 4px;
        padding: $base-spacing-unit $base-spacing-unit-tiny;
        margin-top: $base-spacing-unit;
        width: $base-spacing-unit * 10;
    }
    button[type=submit] {
        margin-top: $base-spacing-unit-small;
    }
}

.product__price {
    border-bottom: 1px solid $frenchGray;
    padding-bottom: $base-spacing-unit-tiny;
    margin-bottom: $base-spacing-unit-tiny;
}

.product__price--old {
    display: inline-block;
    margin-right: $base-spacing-unit;
}

.product__description {
    border-bottom: 1px solid $frenchGray;
    padding-bottom: $base-spacing-unit-tiny;
    margin-top: $base-spacing-unit-small;
    p {
        margin-top: 0;
    }
}
