.search-bar {
    display: flex;
    justify-content: flex-end;
    input[type=search] {
        -webkit-appearance: none;
        border-radius: 0;
        border-right: 0;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        border: 1px solid $frenchGray;
        padding: $base-spacing-unit $base-spacing-unit-tiny;
        width: 100%;
    }
    .button {
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        svg {
            margin-top: -2px;
            fill: $white;
        }
    }
}

.search-bar__large {
    margin-bottom: $base-spacing-unit-extra-large;
    @include breakpoint(medium) {
        margin-bottom: $base-spacing-unit-extra-extra-extra-large;
    }
    input[type=search] {
        padding: $base-spacing-unit-tiny;
        @include breakpoint(medium) {
            padding: $base-spacing-unit-small $base-spacing-unit-medium;
        }
    }
    .button {
        padding: 0 $base-spacing-unit-tiny;
        @include breakpoint(medium) {
            padding: $base-spacing-unit-small $base-spacing-unit-medium;
        }
        svg {
            width: $base-spacing-unit-large;
            height: $base-spacing-unit-large;
        }
    }
}
