/*================ Site Header ================*/
.site-header {
    background: $white;
    overflow: auto;
    border-bottom: 3px solid $frenchGray;
    padding: $base-spacing-unit-small 0;
    img {
        max-width: 385px;
        height: 61px;
        width: 100%;
    }
    .site-header__cart {
        margin-bottom: $base-spacing-unit;
        display: block;
        svg {
            height: 16px;
            width: 19px;
            margin-top: -$base-spacing-unit;
        }
    }
    .flex-container--one-third {
        display: none;
        @include breakpoint(medium) {
            display: block;
        }
    }
}

/* Search bar */
.site-header__search {
    display: flex;
    justify-content: flex-end;
    input[type=search] {
        -webkit-appearance: none;
        border-bottom-left-radius: 4px;
        border-radius: 0;
        border-right: 0;
        border-top-left-radius: 4px;
        border: 1px solid $frenchGray;
        padding: $base-spacing-unit $base-spacing-unit-tiny;
        width: 100%;
    }
    button[type=submit] {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: $stTropaz;
        padding: $base-spacing-unit $base-spacing-unit-tiny;
        &:hover {
            background: $stTropazHover;
        }
        svg {
            margin-top: -2px;
            fill: $white;
        }
    }
}
