.site-header {
    background: $white;
    overflow: auto;
    border-bottom: 3px solid $frenchGray;
    padding: $base-spacing-unit-tiny 0;
    @include breakpoint(xsmall) {
        padding: $base-spacing-unit-small 0;
    }
    .grid {
        margin-bottom: 0;
        .grid-cell-1of3 {
            display: none;
            @include breakpoint(small) {
                display: block;
            }
        }
    }
    img {
        max-width: 385px;
        height: 61px;
        width: 100%;
        display: block;
    }
    .site-header__cart {
        margin-bottom: $base-spacing-unit;
        display: block;
        svg {
            height: 16px;
            width: 19px;
            margin-top: -$base-spacing-unit;
        }
    }
    h1 a, .h1 a {
        display: block;
    }
}
