.site-footer {
  background: $martinique;
  margin: $base-spacing-unit-extra-extra-large 0 0;
  padding: $base-spacing-unit-small 0;
  color: $alabaster;
  @include breakpoint(small) {
    padding: $base-spacing-unit-extra-extra-extra-large $base-spacing-unit-large;
  }
  a {
    color: $alabaster;
    &:hover, &:focus {
      color: $frenchGray;
    }
  }
  .site-footer__linklist {
    list-style: none;
    margin: 0 0 $base-spacing-unit-small;
    padding: 0;
  }
  .site-footer__linklist + .site-footer__linklist:last-of-type {
    margin-bottom: 0;
  }
  .grid-cell-1of3 {
    flex: 0 0 auto;
    width: 100%;
    @include breakpoint(small) {
      width: 33.3%;
    }
  }
  .footer--bordered {
    padding: $base-spacing-unit-small 0;
    border-top: 1px solid rgba($alabaster, .13);
    border-bottom: 1px solid rgba($alabaster, .13);
    @include breakpoint(small) {
      padding: 0 $base-spacing-unit-medium;
      border: 0;
      border-left: 1px solid rgba($alabaster, .13);
      border-right: 1px solid rgba($alabaster, .13);
    }
  }
  .site-footer__address {
    font-style: normal;
  }
  .site-footer__telephone {
    text-decoration: none;
  }
}
