.site-header {
  background: $white;
  border-bottom: 1px solid $grey-3;
  padding: $base-spacing-unit-small 0 0;
  .site-header__logo img {
    display: block;
    max-width: 385px;
    max-height: 61px;
    margin: 0;
  }
  .site-header__cart {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    @include media($medium) {
      flex: 0 0 50%;
      justify-content: flex-end;
    }
    a {
      color: $grey-1;
      margin: 0 0 0 $base-spacing-unit-extra-large;
      position: relative;
      text-decoration: none;
      .cart__count {
        @include fontsize(12);
        position: absolute;
        background: $link;
        top: -($base-spacing-unit);
        left: $base-spacing-unit-tiny;
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 100%;
        color: $white;
        text-align: center;
      }
      .cart__pricing {
        display: none;
        margin-left: $base-spacing-unit-tiny;
        @include media($medium) {
          display: inline-block;
        }
      }
    }
  }
  .search-bar {
    display: none;
    @include media($medium) {
      display: flex;
      flex: 1 1 auto;
    }
  }
}

.search__global {
  .search-bar {
    display: none;
  }
  .icon-close {
    display: none;
  }
  &.open {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .search-bar {
      display: flex;
      padding: ($base-spacing-unit-tiny - 1) 0 ($base-spacing-unit-tiny - 1) $base-spacing-unit-small;
      flex: 1 1 auto;
    }
    .icon-search {
      display: none;
    }
    .icon-close {
      display: block;
    }
    button .icon-search {
      display: block;
    }
  }
  .search__global__toggle {
    display: block;
    text-decoration: none;
    color: $deep-purple;
    padding: $base-spacing-unit-small;
  }
}
