.site-header {
  background: $white;
  border-bottom: 3px solid $frenchGray;
  padding: $base-spacing-unit-tiny 0 0;
  @include breakpoint(xsmall) {
    padding: $base-spacing-unit-small 0 0;
  }
  .grid-cell-1of3 {
    display: none;
    text-align: right;
    @include breakpoint(small) {
      display: block;
    }
  }
  img {
    max-width: 385px;
    height: 61px;
    width: 100%;
    display: block;
  }
  .site-header__cart {
    margin-bottom: $base-spacing-unit;
    display: block;
    color: $tundora;
    text-decoration: none;
    @include fontsize(16);
    &:hover, &:focus {
      text-decoration: underline;
    }
    svg {
      height: 16px;
      width: 19px;
      margin-top: -$base-spacing-unit;
    }
  }
  h1, .h1 {
    margin-bottom: 0;
    a {
      display: block;
      color: $martinique;
      text-decoration: none;
    }
  }
}
