.site-footer {
    background: $martinique;
    margin: $base-spacing-unit-extra-extra-large 0 0 0;
    padding: 0 $base-spacing-unit-small;
    @include breakpoint(medium) {
        padding: $base-spacing-unit-medium;
    }
    .flex-container--one-third {
        padding: $base-spacing-unit-small 0;
        @include breakpoint(medium) {
            padding: $base-spacing-unit-medium $base-spacing-unit-extra-extra-large;
        }
    }
    .flex-container--one-third:nth-of-type(even) {
        border: 1px solid rgba($alabaster, .13);
        border-left: 0;
        border-right: 0;
        @include breakpoint(medium) {
            border: 1px solid rgba($alabaster, .13);
            border-top: 0;
            border-bottom: 0;
        }
    }
    .site-footer__linklist {
        list-style: none;
        margin: 0 0 $base-spacing-unit-small;
        padding: 0;
    }
    .site-footer__linklist + .site-footer__linklist:last-of-type {
        margin-bottom: 0;
    }
    @media print {
        display: none;
    }
}
