.site-navigation {
    background: $ebb;
}

.site-navigation__menu {
    display: flex;
    list-style: none;
    margin: 0 auto;
    max-width: (1120px + ($base-spacing-unit-small * 2)); // container width
    padding: 0;
    position: relative;
    z-index: 2;

    .site-navigation__menu__item {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin: 0;

        > a {
            position: relative;
            display: inline-block;
            &:first-child {
                padding-left: $base-spacing-unit-small;
            }
        }

        a {
            padding: $base-spacing-unit-tiny $base-spacing-unit-medium;
        }

        .site-navigation--caret svg {
            width: 10px;
            height: 10px;
        }
    }
}

.site-navigation__menu__submenu {
    background: $ebb;
    display: none;
    min-width: 250px;
    padding: 2px 4px 4px;
    position: absolute;
    top: 100%;

    &.open {
        display: block;
    }

    a {
        display: block;
        &:hover, &:focus {
            background: $white;
        }
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: block;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
