.tiles {
    justify-content: space-between;
}

.tile-container {
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 241px;
    margin: 0 0 $base-spacing-unit-small;
    @include breakpoint(medium) {
        height: 400px;
        margin: 0 0 $base-spacing-unit-large;
    }
    .tile--heading {
        width: 75%;
        position: absolute;
        bottom: $base-spacing-unit-medium;
        padding: $base-spacing-unit-tiny $base-spacing-unit-small;
        background: rgba($algaeGreen, .9);
        @include breakpoint(medium) {
            width: 45%;
            padding: $base-spacing-unit-medium;
        }
    }
    .tile--underline {
        height: 6px;
        width: 60px;
        display: block;
        background: $purpleHeart;
        margin-top: $base-spacing-unit;
        @include breakpoint(medium) {
            margin-top: $base-spacing-unit-tiny;
        }
    }
}

.tile-container:last-of-type {
    margin-bottom: 0;
}

.tile--half-width, .tile--one-third {
    .tile--heading {
        background: rgba($purpleHeart, .9);
        padding: $base-spacing-unit-tiny $base-spacing-unit-small;
    }
    .tile--underline {
        background: $algaeGreen;
    }
}

.tile--half-width {
    @include breakpoint(medium) {
        width: 49%;
        height: 367px;
    }
    .tile--heading {
        width: 75%;
    }
}

.tile--one-third {
    @include breakpoint(medium) {
        width: 32.3%;
    }
    .tile--heading {
        width: auto;
    }
}
