.tiles {
  margin: $base-spacing-unit-small 0 0;
  a {
    display: block;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    &:hover, &:focus {
      img {
        @include media($tiles) {
          transform: scale(1.02);
        }
      }
      .tile--heading {
        text-decoration: underline;
      }
    }
  }
  img {
    display: block;
    width: 100%;
    @include media($tiles) {
      transition: transform .2s linear;
      will-change: transform;
    }
  }
  .tile--heading {
    background: rgba($purple, .9);
    color: $white;
    font-weight: 500;
    padding: $base-spacing-unit-tiny;
    @include media($tiles) {
      bottom: $base-spacing-unit-medium;
      position: absolute;
      width: 80%;
      padding: $base-spacing-unit-small;
      line-height: 1;
      &:after {
        background: $purple--light;
        content: ' ';
        display: block;
        height: 4px;
        margin-top: $base-spacing-unit;
        width: $base-spacing-unit-extra-extra-large;
      }
    }
  }
  .grid-cell-1of1 .tile--heading {
    background: rgba($mint, .9);
    color: $deep-purple;
    @include media($tiles) {
      @include fontsize(26);
      line-height: 1.154;
      width: 50%;
    }
    @include media($small) {
      width: 40%;
    }
    &:after {
      background: $mint--light;
      height: $base-spacing-unit;
      width: ($base-spacing-unit * 10);
      @include media($small) {
        margin-top: $base-spacing-unit-tiny;
      }
    }
  }
  .grid-cell-1of3-1of1 {
    a {
      &:hover, &:focus {
        img {
          @include media($tiles) {
            transform: scale(1.04);
          }
        }
      }
    }
    .tile--heading {
      @include media($tiles) {
        width: auto;
      }
      &:after {
        display: none;
      }
    }
  }
}
