<div class="noflex-container">
  <h2 class="shop-heading">{{ shop.name }}</h2>
</div>

<<<<<<< HEAD
{% section 'tiles' %}
{% section 'bestsellers' %}

{% comment %}{{ content_for_index }}{% endcomment %}
=======
{{ content_for_index }}
>>>>>>> development
