<div class="collection__view-sort__options">
  <span>List view</span>
  <div class="collection__view-sort__options--group">
    <a href="#" data-view="grid">{% include 'icon-grid-view' %}</a>
    <a href="#" data-view="list">{% include 'icon-list-view' %}</a>
  </div>
</div>
