{% comment %} This code is specific to MailChimp - please do not change {% endcomment %}
<form action="https://parliament.us16.list-manage.com/subscribe/post?u=64af15924ba58f178f281a7e7&amp;id=15aaa277c6" method="post" target="_blank" class="email-form">
  <h3 class="visually-hidden">Subscribe to our mailing list</h3>
  <label for="mce-EMAIL" class="label-hidden">Email Address</label>
  <input id="mce-EMAIL" name="EMAIL" type="email" placeholder="Email Address" value="">
  <div aria-hidden="true" style="position: absolute; left: -5000px;">
    <input name="b_64af15924ba58f178f281a7e7_15aaa277c6" tabindex="-1" type="text" value="">
  </div>
  <button type="submit" name="subscribe" class="button button--mint">Subscribe</button>
</form>
{% comment %} End MailChimp specific code {% endcomment %}
