@mixin breakpoint($breakpoint) {
  @if $breakpoint == "small" {
    @media (min-width: $breakpoint-small) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (min-width: $breakpoint-medium) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: $breakpoint-large) {
      @content;
    }
  }
}
