/*============================================================================
    UK Parliament Shop | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');
@import url('settings/colours.scss');

/*================ VENDOR ==================*/
@import url('../../node_modules/normalize.css/normalize.css');

/*================ COMMON ================*/
@import url('global/fonts.scss');
@import url('global/typography.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');
@import url('vendor/magnifier.scss');

/*================ MODULES ================*/
@import url('modules/badges.scss');
@import url('modules/breadcrumbs.scss');
@import url('modules/buttons.scss');
@import url('modules/cart.scss');
@import url('modules/collections.scss');
@import url('modules/gift-card-template.scss');
@import url('modules/list-collections.scss');
@import url('modules/microsite-masthead.scss');
@import url('modules/offers-bar.scss');
@import url('modules/pagination.scss');
@import url('modules/product-grid.scss');
@import url('modules/product.scss');
@import url('modules/search-bar.scss');
@import url('modules/site-footer.scss');
@import url('modules/site-header.scss');
@import url('modules/site-navigation.scss');
@import url('modules/tiles.scss');
