/*--- UK Parliament Vibrant Colours ---*/
$vibrant__yellow:								#F5EE61;
$vibrant__yellow--dark:					#DED328;
$vibrant__yellow--light:				#FBF8C0;

$vibrant__orange:								#FF7200;
$vibrant__orange--dark:		   		#DB6100;
$vibrant__orange--light:				#FFDCBF;
