/*--- UK Parliament Definition Colours ---*/

// Link
$link:                          #2B57AB;
$link-hover:                    #7592C8;
$link-visited:                  #7C1389;

// Buttons
$button--primary:               #2B57AB;
$button--primary__hover:        #214282;

$button--secondary:             #BFCDE6;
$button--secondary__hover:      #9AB0D8;

$button--white:                 $white;
$button--white__hover:          $grey-4;

$button--deep-purple:           $deep-purple;
$button--deep-purple__hover:    $deep-purple--light;
