// General colours
$white: #fff;
$black: #000;

// UK Parliament brand colours
$martinique: #373151;
$purpleHeart: #5F2DB4;
$whiteLilac: #E7DFF4;
$frenchGray: #CBC9CD;
$algaeGreen: #96DCBE;
$tara: #DFF4EB;
$ebb: #EBE9E8;
$alabaster: #F8F7F7;

// UK Parliament supporting brand colours
$tundora: #4d4d4d;
$stTropaz: #2B57AB;
$stTropazHover: #7592C8;
$periwinkle: #BFCDE6;
$periwinkleHover: #9AB0D8;
$doveGray: #6E6E6E;

$stTropazButtonHover: #214282;

/*--- UK Parliament Core Colours ---*/

$deep-purple: #373151;
$deep-purple--light: #625A75;

$purple: #5C2DB4;
$purple--dark: #3E1D78;
$purple--light:	#E7DFF4;

$mint: #96DCBE;
$mint--dark: #6EC29E;
$mint--light: #DFF4EB;

$white: #FFFFFF;

/*--- UK Parliament Grey Colours ---*/
$grey-1: #4D4D4D;
$grey-2: #717171;
$grey-3: #CBC9CD;
$grey-4: #EBE9E8;
$grey-5: #F8F7F7;
