// General colours
$white: #fff;

// UK Parliament brand colours
$martinique: #373151;
$purpleHeart: #5F2DB4;
$whiteLilac: #E7DFF4;
$frenchGray: #CBC9CD;
$algaeGreen: #96DCBE;
$tara: #DFF4EB;
$ebb: #EBE9E8;
$alabaster: #F8F7F7;

// UK Parliament supporting brand colours
$tundora: #4d4d4d;
$stTropaz: #2B57AB;
$stTropazHover: #1e3e79;
$periwinkle: #BFCDE6;
