/*--- UK Parliament Core Colours ---*/
$deep-purple:                   #373151;
$deep-purple--light:            #625A75;

$purple:                        #5C2DB4;
$purple--dark:                  #3E1D78;
$purple--light:                 #E7DFF4;

$mint:                          #96DCBE;
$mint--dark:                    #6EC29E;
$mint--light:                   #DFF4EB;

$white:                         #FFFFFF;

/*--- UK Parliament Grey Colours ---*/
$grey-1:                        #4D4D4D;
$grey-2:                        #717171;
$grey-3:                        #CBC9CD;
$grey-4:                        #EBE9E8;
$grey-5:                        #F8F7F7;
