// General colours
$white: #fff;
$black: #000;

/*--- UK Parliament Core Colours ---*/

$deep-purple: #373151;
$deep-purple--light: #625A75;

$purple: #5C2DB4;
$purple--dark: #3E1D78;
$purple--light:	#E7DFF4;

$mint: #96DCBE;
$mint--dark: #6EC29E;
$mint--light: #DFF4EB;

/*--- UK Parliament Grey Colours ---*/
$grey-1: #4D4D4D;
$grey-2: #717171;
$grey-3: #CBC9CD;
$grey-4: #EBE9E8;
$grey-5: #F8F7F7;

// Shop colours
$martinique: $deep-purple;
$purpleHeart: #5F2DB4;
$whiteLilac: $purple--light;
$frenchGray: $grey-3;
$algaeGreen: $mint;
$tara: $mint--light;
$ebb: $grey-4;
$alabaster: $grey-5;

// Supporting shop colours
$tundora: $grey-1;
$stTropaz: #2B57AB;
$stTropazHover: #7592C8;
$periwinkle: #BFCDE6;
$periwinkleHover: #9AB0D8;
$doveGray: #6E6E6E;
$stTropazButtonHover: #214282;


