// General colours
$white: #fff;
$black: #000;

// UK Parliament brand colours
$martinique: #373151;
$purpleHeart: #5F2DB4;
$whiteLilac: #E7DFF4;
$frenchGray: #CBC9CD;
$algaeGreen: #96DCBE;
$algaeGreenHover: #76C7A4;
$tara: #DFF4EB;
$ebb: #EBE9E8;
$alabaster: #F8F7F7;

// UK Parliament supporting brand colours
$tundora: #4d4d4d;
$stTropaz: #2B57AB;
$stTropazHover: #7592C8;
$periwinkle: #BFCDE6;
$periwinkleHover: #9AB0D8;
$doveGray: #6E6E6E;
