// Create base vertcial spacing value and scale up accordingly.

$base-spacing-unit: 6px;
$base-spacing-unit-tiny: round($base-spacing-unit * 2); // 12px
$base-spacing-unit-small: round($base-spacing-unit * 3); // 18px
$base-spacing-unit-medium: round($base-spacing-unit * 4); // 24px
$base-spacing-unit-large: round($base-spacing-unit * 5); // 30px
$base-spacing-unit-extra-large: round($base-spacing-unit * 6); // 36px
