<div class="bestsellers">
  <h3>Bestsellers</h3>
  <div class="bestsellers--items">
    <div class="bestsellers--items__single">
      <a href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"></a>
      <a href="#">Product name</a>
      <span>£0.00</span>
    </div>
    <div class="bestsellers--items__single">
      <a href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"></a>
      <a href="#">Product name</a>
      <span>£0.00</span>
    </div>
    <div class="bestsellers--items__single">
      <a href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"></a>
      <a href="#">Product name</a>
      <span>£0.00</span>
    </div>
    <div class="bestsellers--items__single">
      <a href="#"><img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97350&w=350&h=350"></a>
      <a href="#">Product name</a>
      <span>£0.00</span>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Homepage tiles"
  }
{% endschema %}
